$success: rgba(20, 184, 166, var(--tw-bg-opacity));
$error: rgba(239, 68, 68, var(--tw-bg-opacity));
$warning: rgba(251, 191, 36, var(--tw-bg-opacity));
$info: rgba(14, 165, 233, var(--tw-bg-opacity));
